.header-bg {
    background-image: url("./images/banner.png");
    height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
   
}
.footer-mail{
    position: relative;

}
.footer-btn{
    width: 50px;
    height: 38px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #B68C5A;
    color: #ffff;
    outline: none;
    border: none;

}